@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Variáveis de cores */
:root {
    --background-color: #000706;
    --box-color: #00272d;
    --text-color: #bfac8b;
    --btn-color: #0c7e7e;
}


/* Definições Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", serif;
}


/* Centralizando a div */
.layout {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout .box {
    background-color: var(--box-color);
    width: 25rem;
    max-width: 30rem;
    height: 30rem;
    max-height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.layout .box .nav {
    padding-top: 4rem;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.layout .box .nav h3,
.layout .box .login label {
    color: var(--text-color);
}

.layout .box .login {
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout .box .login form,
.layout .box .login .btn {
    width: 100%;
}


.layout .box .login .btn button {
    background-color: var(--btn-color);
    width: 100%;
}